@model lms.Models.Material

@{
    ViewData["Title"] = "Material Details";
    var videoLink = "https://www.youtube.com/watch/" + @Model.VideoURL;
}

<div class="untree_co-hero overlay" style="background-image: url('~/images/img-school-1-min.jpg');height:300px">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12">
                <div class="row justify-content-center ">
                    <div class="col-lg-6 text-center ">
                        <h1 class="mb-4 heading text-white" data-aos="fade-up" data-aos-delay="100">Admin Panel - @ViewData["Title"]</h1>
                    </div>


                </div>

            </div>

        </div> <!-- /.row -->
    </div> <!-- /.container -->

</div>

<div class="container">
    <h4 class="mt-4">Material</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Name:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>

        <dt class="col-sm-2">Description:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>

        <dt class="col-sm-2">Video URL:</dt>
        <dd class="col-sm-10">
            <a href="@videoLink" target="_blank">Watch Video</a>
        </dd>

        <dt class="col-sm-2">Image URL:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ImageURL)</dd>

        <dt class="col-sm-2">Author:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Author)</dd>

        <dt class="col-sm-2">Course ID:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Course.Id)</dd>
    </dl>
</div>

<div class="text-center mt-4 mb-4">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

